  {{- with .Title | default .Site.Title }}
  <meta property="og:title" content="{{ title (T (. | anchorize)) | default . | plainify | safeHTML }}">
  {{- end }}
  {{- with .Description | default .Params.subtitle | default .Summary }}
  <meta property="og:description" content="{{ . | plainify | safeHTML }}">
  {{- end }}
  {{- if .IsHome }}
  {{ $lang := .Site.LanguageCode }}
  {{- with .Site.Params.image }}
  {{ $cover := replace . ".png" (printf ".%s%s" $lang ".png") }}
  <link rel="image_src" href="{{ $cover }}">
  <meta property="og:image" content="{{ $cover }}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="628">
  {{- end }}
  {{- else }}
  {{- with .Params.cover | default .Params.image | default .Site.Params.image }}
  <link rel="image_src" href="{{ . }}">
  <meta property="og:image" content="{{ . }}">
  {{- end }}
  {{- end }}
  <meta property="og:url" content="{{ .Permalink | absLangURL }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ .Site.Title }}">