<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" translate="no">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ title (T (.Title | anchorize)) | default .Title | plainify | safeHTML }} | {{ .Site.Title }}{{ end }}</title>
  {{ with .Description | default .Params.subtitle | default .Summary -}}
  <meta name="description" content="{{ . | plainify | safeHTML }}">
  {{- end }}
  {{ with .Params.themes -}}
  <meta name="keywords" content="{{ range $i, $items := . }}{{ if $i }}, {{ end -}}{{ T . | default . }}{{ end }}">
  {{- end }}
  {{ hugo.Generator }}
  <meta name="robots" content="index,follow">
  {{ partial "seo/main.html" . }}
  {{- partialCached "favicons.html" . }}
  <meta name="author" content="{{ .Params.author | default .Site.Params.author.name }}">
  <link rel="author" type="text/plain" href="{{ .Site.BaseURL }}humans.txt">
  <link rel="canonical" href="{{ .Permalink | absURL }}">

  <!-- CSS -->
  {{- $styles := resources.Get "css/styles.css" }}
  {{ if hugo.IsServer }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}?{{ now.Unix }}">
  {{ else }}
  {{- $styles := $styles | minify }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}?{{ now.Unix }}">
  {{ end }}
  {{- $print := resources.Get "css/print.css" }}
  {{- $print := $print | minify -}}
  <link rel="stylesheet" media="print" href="{{ $print.RelPermalink }}">

  <!-- Fonts -->
  <link rel="preload" as="font" href="{{ .Site.BaseURL }}fonts/Immortel-Infra-G1-Roman-205TF.woff2" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" as="font" href="{{ .Site.BaseURL }}fonts/Immortel-Infra-G1-Italic-205TF.woff2" type="font/woff2" crossorigin="anonymous">

  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{- end }}
</head>

<body {{ if or (eq .Kind "taxonomy") (eq .Kind "term") }}class="articles"{{ if eq .Kind "term"}} data-term="{{ .Title | urlize }}"{{ end }} {{ end }}data-kind="{{ .Kind }}" data-type="{{ .Type }}"{{ with .Layout }} data-layout="{{ . }}"{{ end }}>
  {{ partial "header.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "footer.html" . }}
</body>
</html>
