{{ define "main" }}
  <main>
    <h1 class="sr-only">{{ T (.Title | urlize) | default .Title }}</h1>
    <header>
      {{- with .Pages -}}
      <ul class="tags">
        {{- range .ByTitle }}
        {{ $title := T (.LinkTitle | urlize) | default .LinkTitle }}
        <li><a id="{{ $title | urlize }}" href="{{ .RelPermalink }}">{{ $title }}</a></li>
        {{- end }}
      </ul>
      {{- end }}
    </header>
    <section class="content flow">
    {{- $articles := (.GetPage "articles").Pages }}

    {{- $lang := .Site.LanguageCode }}
    {{- $otherLang := "en" }}
    {{- if eq $lang "en" }}
    {{- $otherLang = "fr" }}
    {{- end }}

    {{- $otherLangArticles := where (where (where $.Site.AllPages "Section" "articles") "Lang" $otherLang) "Kind" "page" }}
    {{- range $otherLangArticles }}
      {{ if eq .IsTranslated false }}
        {{ $articles = $articles | append . }}
      {{ end }}
    {{- end }}

    {{- range $articles.ByDate.Reverse }}
      {{ partial "article.html" (dict "article" . "lang" $lang) }}
    {{- end }}
    </section>
  </main>
{{ end }}
