{{ define "main" }}
{{- $currentPage := . -}}
{{- $taxonomy := .Type -}}
{{- $term := .Title | lower -}}
  <main>
    <h1 class="sr-only">{{ T (.Title | urlize) | default .Title }}</h1>
    <header>
      {{- with .Parent.Pages -}}
      <ul class="tags">
        {{- range .ByTitle }}
        {{- $title := T (.LinkTitle | urlize) | default .LinkTitle }}
        {{- $isCurrent := eq $currentPage.RelPermalink .RelPermalink }}
        {{- if $isCurrent }}
        <li><a id="{{ $title | urlize }}" href="{{ .Parent.RelPermalink }}" aria-current="true">{{ $title }}</a></li>
        {{- else }}
        <li><a id="{{ $title | urlize }}" href="{{ .RelPermalink }}">{{ $title }}</a></li>
        {{- end }}
        {{- end }}
      </ul>
      {{- end }}
    </header>
    <section class="content flow" data-term="{{ $term }}">
    {{- $articles := index .Site.Taxonomies $taxonomy $term }}

    {{- $lang := .Site.LanguageCode }}
    {{- $otherLang := "en" }}
    {{- if eq $lang "en" }}
    {{- $otherLang = "fr" }}
    {{- end }}

    {{- $otherLangArticles := where (where (where $.Site.AllPages "Section" "articles") "Lang" $otherLang) "Kind" "page" }}
    {{- range $otherLangArticles }}
      {{- $containsTerm := false }}
      {{- $articleTaxonomy := index .Params $taxonomy }}
      {{- $currentPageTerm := $currentPage.Title | urlize }}
      {{- $type := (printf "%T" (index .Params $taxonomy)) }}
      {{- if eq $type "string" }}
        {{- $containsTerm = eq $articleTaxonomy $currentPageTerm }}
      {{- else }}
        {{- $containsTerm = in $articleTaxonomy $currentPageTerm }}
      {{- end }}
      {{- if eq .IsTranslated false | and $containsTerm }}
        {{ $articles = $articles | append . }}
      {{- end }}
    {{- end }}

    {{- range sort $articles ".Date" "desc" }}
      {{ partial "article.html" (dict "article" . "lang" $lang) }}
    {{- end }}
    </section>
  </main>
{{ end }}
