@page {
  margin: 1cm;
}
body {
  margin: 0;
  color: #000;
  background: none;
}
body > header,
body > footer {
  display: none;
}
a[href^="http"]::after {
  content: " <" attr(href) ">";
}
abbr[title]:after {
  content: " (" attr(title) ")";
}
a {
  text-decoration: none;
}
p {
  widows: 3;
  orphans: 3;
}
hr {
  border-top: 1px solid;
}
mark {
  border: 1px solid;
}
pre, table, figure, img, svg {
  break-inside: avoid;
}
pre code {
  white-space: pre-wrap;
}
