@charset "utf-8";

/* VARIABLES */

:root { 
    /* Fonts */
    --font: "Immortel Infra G1", serif;
    /* Colors */
    --color-white: #FFF;
    --color-black: #000;
    --color-gray: #767676; /* 4.5:1 */
    --color-blue: #007AB8; /* 4.5:1 */
    --color-pink: #B946B9; /* 4.5:1 */
    --color-primary: var(--color-black);
    --color-secondary: var(--color-gray);
    --color-link: var(--color-blue);
    --color-selection: var(--color-black);
    --color-footnotes: var(--color-blue);
    /* Layout */
    --max-width: 1200px;
    --gutter: 1.666667rem;
    --flow-space: var(--gutter);
    /* Type scale */
    --text-base: min(max(0.938rem, 0.696rem + 1.071vw), 1.5rem); /* 360px: 15px -> 1200px: 24px */
    --text-lg: 1.167rem;
    --text-xl: 1.5rem;
    --text-2xl: 1.833334rem;
    --leading-base: 1.3684210526;
}

@font-face {
  font-family: "Immortel Infra G1";
  src: url("/fonts/Immortel-Infra-G1-Roman-205TF.woff2") format("woff2"),
       url("/fonts/Immortel-Infra-G1-Roman-205TF.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Immortel Infra G1";
  src: url("/fonts/Immortel-Infra-G1-Italic-205TF.woff2") format("woff2"),
       url("/fonts/Immortel-Infra-G1-Italic-205TF.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove default lists style if lists has class */
ul[class], ol[class] {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Links default styles */
a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Fix sup font settings */
sup {
  line-height: 0;
}
@supports (font-feature-settings: 'sups') {
  sup {
    font-feature-settings: 'sups';
    vertical-align: baseline;
  }
}


/* GLOBAL */

html {
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  font-size: var(--text-base);
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--font);
  line-height: var(--leading-base);
  text-rendering: optimizeSpeed;
  color: var(--color-primary, black);
  background-color: var(--color-white, white);
}
body > * {
  max-width: var(--max-width);
  margin: 0 auto;
}
:target {
  outline: none;
  scroll-margin-top: 1rem;
}


/* TYPOGRAPHY */

h1, h2, h3, h4, h5 {
  position: relative;
  font-weight: normal;
}
h1 {
  font-size: var(--text-2xl);
  line-height: 1.272727;
  letter-spacing: -0.01em;
}
h2 {
  font-size: var(--text-xl);
}
h3 {
  font-size: var(--text-lg);
  line-height: 1.357;
}
* + h2,
* + h3 {
  margin-top: 1.833334em;
}
small {
  font-size: smaller;
  display: inline-block;
}


/* SELECTION */

::selection {
  color: var(--color-white);
  background-color: var(--color-selection);
}


/* A11Y */

a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}
a.skip-main:focus,
a.skip-main:active {
  left: auto;
  top: auto;
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: auto;
  text-align: center;
  z-index: 999;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media (prefers-contrast: more) {
  :root {
    --color-gray: #767676; /* 4.5:1 */
  }
}

/* Flow */

.flow > * + * {
  margin-top: var(--flow-space);
}


/* SITE HEADER */

body > header { 
  position: relative;
  padding: 1em var(--gutter);
  color: var(--color-secondary);
}
body > header > a,
a[aria-current] {
  color: var(--color-primary);
}
body > header > * {
  margin: 0;
  line-height: inherit;
  width: fit-content;
}
body > header > h1 {
  font-size: 1em;
  letter-spacing: initial;
  color: var(--color-primary);
}
body > header > nav a:hover { 
  color: var(--color-primary);
}
.menu {
  margin-top: 1rem;
}
.menu a + a { 
  margin-left: .5em;
}
.languages {
  position: absolute;
  margin-top: 0;
  right: var(--gutter);
  top: 1em;
}
.languages > * {
  font-size: smaller;
  text-transform: uppercase;
}
.languages > span {
  display: none;
}

@media (min-width: 640px) {
  nav {
    position: absolute;
    top: 0;
    right: var(--gutter);
  }
  .menu {
    margin-right: 2rem;
  }
}


/* MAIN */

main {
  min-height: calc(100vh - 8rem);
  padding: var(--gutter);
  line-height: 1.5;
}

/* Header */
main > header {
  position: relative;
}
main > header.image {
  margin: calc(-1 * var(--gutter)) calc(-1 * var(--gutter)) 2rem;
}
main > header.image img {
  max-height: 765px;
  object-fit: cover;
}
@media (min-width: 1200px) {
  main > header.image {
    margin-inline: calc((100vw - var(--max-width) - -2 * var(--gutter)) / -2);
  }
}

/* Content */
.content >:not(figure) {
  max-width: 36rem;
}
.content {
  --color-link: var(--color-secondary);
}
.content hr {
  border: none;
  border-top: 1px solid var(--color-secondary);
  margin: 1.5em 0;
}
.content a {
  color: var(--color-link);
}
.content a:hover {
  text-decoration: underline;
}
.content a[href^="https://"]::after {
  content: '↗︎' / 'Lien externe';
  display: inline-block;
  margin-left: .125em;
  font-size: smaller;
}
[lang="en"] .content a[href^="https://"]::after {
  content: '↗︎' / 'External link';
}
.content a[href$=".pdf"]::after {
  content: '[PDF]';
  display: inline-block;
  margin-left: .25em;
  font-size: smaller;
}
.content figure.max-h-screen,
.content figure.max-h-screen figcaption,
.content figure[class*="align-"],
.content figure[class*="align-"] figcaption {
  margin-left: 0;
  margin-right: 0;
}
.content figure.max-h-screen img {
  max-height: calc(100vh - var(--gutter) * 3);
  width: auto;
}
.content figure.align-center img {
  margin-left: auto;
  margin-right: auto;
}
.content figure.align-center figcaption {
  text-align: center;
}
.content figure.align-right img {
  margin-left: auto;
}
.content figure.align-right figcaption {
  text-align: right;
}


/* Figure */
main figure {
  margin: 1.5em calc(-1 * var(--gutter));
}
main figcaption {
  font-size: smaller;
  color: var(--color-gray);
  margin: 1em var(--gutter);
}


/* HOME */

[data-kind="home"] main a {
  --color-link: var(--color-link);
}


/* ARTICLES */

.articles main {
  padding-top: .6rem;
}
.articles main > header {
  border-top: 1px solid var(--color-secondary);
  border-bottom: 1px solid var(--color-secondary);
  padding: 1rem 2rem 1rem 0;
  min-height: 5rem;
  max-height: calc(50vh - 6rem);
  overflow-y: auto;
}
.articles.tag main > header .icon.close {
  position: absolute;
  top: 1rem;
  right: 0;
}
.articles article {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.articles article h2 {
  font-size: 1rem;
  margin-top: 0;
}
.articles article h2 > a {
  color: var(--color-footnotes);
}
[lang="en"] .articles article a[hreflang="fr"]::after,
[lang="fr"] .articles article a[hreflang="en"]::after {
  content: ' (fr)' / 'French';
  text-transform: uppercase;
  font-size: smaller;
}
[lang="fr"] .articles article a[hreflang="en"]::after {
  content: ' (en)' / 'Anglais';
  text-transform: uppercase;
  font-size: smaller;
}
.articles article .tags {
  order: -1;
}


/* OBJECTS TAGS */

.articles .article h2 > a { 
  color: #D4A700; /* Contraste amélioré et plus saturé */
}
.articles .chapitre-douvrage h2 > a { 
  color: #E06B00; /* Contraste amélioré et plus saturé */
}
.articles .collection-de-livres h2 > a { 
  color: #009C99; /* Contraste amélioré et plus saturé */
}
.articles .colloque-et-journee-detudes h2 > a { 
  color: #005BE0; /* Contraste amélioré et plus saturé */
}
.articles .communication h2 > a { 
  color: #5055E0; /* Contraste amélioré et plus saturé */
}
.articles .conference h2 > a { 
  color: #8000E0; /* Contraste amélioré et plus saturé */
}
.articles .cours h2 > a { 
  color: #0070D0; /* Contraste amélioré et plus saturé */
}
.articles .cycle-de-conferences h2 > a { 
  color: #0060B8; /* Contraste amélioré et plus saturé */
}
.articles .exposition h2 > a { 
  color: #009974; /* Contraste amélioré et plus saturé */
}
.articles .habilitation h2 > a { 
  color: #B000B8; /* Contraste amélioré et plus saturé */
}
.articles .livre h2 > a { 
  color: #7A00E0; /* Contraste amélioré et plus saturé */
}
.articles .projet-de-recherche h2 > a { 
  color: #00A76E; /* Contraste amélioré et plus saturé */
}
.articles .projet-de-design h2 > a { 
  color: #009A5E; /* Contraste amélioré et plus saturé */
}
.articles .revue h2 > a { 
  color: #0088A0; /* Contraste amélioré et plus saturé */
}
.articles .seminaire-de-recherche h2 > a { 
  color: #C00088; /* Contraste amélioré et plus saturé */
}
.articles .these h2 > a { 
  color: #B04080; /* Contraste amélioré et plus saturé */
}
.articles .traduction h2 > a { 
  color: #D85050; /* Contraste amélioré et plus saturé */
}


/* LEGAL */

.legal .content small {
  color: var(--color-secondary);
}
.legal .content a {
  --color-link: var(--color-pink);
}


/* TAGS */

.tags {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: var(--color-secondary);
  /* font-size: smaller;*/
}
.tags li:not(:last-child):after {
  content: "|";
  display: inline-block;
  margin: 0 .25em;
}
.tags a {
  color: var(--color-secondary);
}
.tags a[aria-current],
.tags a:hover {
  color: var(--color-primary);
  text-decoration: none;
}


/* ICONS */
.icon {
  position: relative;
  display: block;
  width: 1rem;
  height: 1.5rem;
}
.icon::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--color-secondary);
  mask-image: url("data:image/svg+xml,%3Csvg fill='none' stroke-width='1' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 18 18 6M6 6l12 12' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
}
.icon:hover::after,
.icon:active::after {
  background-color: var(--color-primary);
}


/* FOOTNOTES */

sup[id^="fnref"] {
  color: var(--color-footnotes);
  font-size: inherit;
  vertical-align: initial;
}
a[rel="footnote"] {
  color: inherit;
}
a[rel="footnote"]::before {
  content: '{';
}
a[rel="footnote"]::after {
  content: '}';
}

.footnotes {
  font-size: smaller;
  color: var(--color-gray);
}
.footnotes hr {
  border-color: transparent;
}
.footnotes [rev="footnote"] {
  color: var(--color-footnotes);
}
.footnotes ol {
  padding-left: 1.5rem;
}
.footnotes li > * {
  margin-top: 0;
  margin-left: -.5em;
}
.footnotes li:target {
  color: var(--color-footnotes);
}


/* FOOTER */

body > footer {
  display: flex;
  font-size: smaller;
  color: var(--color-secondary);
  padding: var(--gutter);
}
body > footer a + a::before {
  content: "|" / "";
  display: inline-block;
  margin: 0 .25em;
  color: var(--color-secondary);
}
body > footer a:hover {
  color: var(--color-primary);
}
