  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@graph": [
      {
        "@type": "ScholarlyArticle",
        "name": "{{ .Title }}",
        "author": "{{ .Params.author | default .Site.Params.author.name }}",
        "description": "{{ .Description | plainify | safeJS }}",{{ if strings.Contains .Description "://doi" }}
        "sameAs": {{ replaceRE `(.*)\shttps://doi(.*)\s?` `https://doi$2` .Description }},{{ end }}
        "about": [ "{{ range $i, $e := .Params.themes }}{{ if $i }}, {{ end }}{{ T ($e | urlize) | default $e }}{{ end }}" ],{{ if findRE `(.*)p\.(\d*)-(\d*)\.?` .Description 1 }}
        "pageStart": {{ replaceRE `(.*)p\.(\d*)-(\d*)\.?` "$2" .Description }},
        "pageEnd": {{ replaceRE `(.*)p\.(\d*)-(\d*)\.?` "$3" .Description }},{{ end }}
        "isPartOf": "#issue"
      },
      {
        "@id": "#issue",
        "@type": "PublicationIssue",{{ if findRE `,\s(\d*)[/-]` .Description 1 }}
        "issueNumber": {{ replaceRE `(.*),\s(\d*)[/-](\d{4})(.*)` "$2" .Description }},{{ end }}
        "datePublished": "{{ .Params.years }}",
        "isPartOf": {
          "@id": "#periodical",
          "@type": "Periodical",
          "name": "{{ replaceRE `(.*)<cite>(.*)</cite>(.*)` "$2" .Description }}"
        }
      }
    ]
  }
  </script>