<article{{ with .article.Params.objects }} class="{{ . | urlize }}"{{ end }}>
  {{ partial "tags.html" .article }}
  <h2{{ if ne .article.Lang .lang }} lang="{{ .article.Lang }}"{{ end }}>{{ with .article.Params.author }}<span class="author">{{ . }}</span>, {{ end }}<time datetime="{{ .article.Date.Format "2006" | safeHTML }}">{{ .article.Date.Format "2006" | safeHTML }}</time>. <a href="{{ .article.RelPermalink }}" hreflang="{{ .article.Lang }}">{{ .article.Title | markdownify }}</a>. <span class="description">{{ .article.Description | markdownify }}</span></h2>
</article>
