<link rel="icon" type="image/x-icon" href="/favicons/favicon.ico">
<link rel="icon" href="/favicons/favicon.svg">
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
<link rel="manifest" href="/manifest.json">
