  <footer>
    {{- $currentPage := . -}}
    {{- range .Site.Menus.footer -}}
    {{- $active := (eq $currentPage.Name .Name) }}
    <a href="{{ .URL | absLangURL }}"{{ if $active }} aria-current="page"{{ end }}>{{ .Name }}</a>
    {{- end }}
  </footer>

  {{ partialCached "js.html" . }}
