  <header>
    {{- if .IsHome }}
    <h1>{{ .Site.Title }}</h1>
    {{- else }}
    <a href="{{ .Site.Home.Permalink | absLangURL }}">{{ .Site.Title }}</a>
    {{- end }}
    {{- if .IsHome }}
    <p>{{ .Params.description | markdownify }}</p>
    {{- end }}
    {{ partial "nav.html" . }}
    {{ partial "languages.html" . }}
  </header>
