{{ $js := resources.Get "js/index.js" }}
{{ if hugo.IsServer }}
<script defer src="{{ $js.RelPermalink }}"></script>
{{ else }}
{{ $js := $js | minify }}
<script defer src="{{ $js.RelPermalink }}"></script>
{{ end }}
