{{ $translations := $.Site.Home.AllTranslations }}
{{ if .Page.IsTranslated }}
  {{ $translations = .Page.AllTranslations }}
{{ end }}
<nav class="languages" aria-label="Languages">
    {{- range $translations -}}
    {{- if ne .Language $.Language }}
    <a href="{{ .Permalink }}" hreflang="{{ .Language.Lang }}" title="{{ .Language.LanguageName }}" lang="{{ .Language.Lang }}">{{ .Language }}</a>
    {{- else -}}
    <span title="{{ .Language.LanguageName }}" lang="{{ .Language.Lang }}">{{ .Language }}</span>
    {{- end }}
    {{- end }}
</nav>
