{{- $currentPage := . -}}
<nav class="menu" aria-label="Menu">
  {{- range .Site.Menus.main -}}
  <a href="{{ .URL | absLangURL }}"{{ if eq $currentPage.RelPermalink .URL }} aria-current="page"{{ end }}{{ if eq $currentPage.Kind "term" }}{{ if eq $currentPage.Parent.RelPermalink .URL }} aria-current="true"{{ end }}{{ end }}>{{ .Name }}</a>
  {{- end }}
</nav>
