<ul class="tags">
  {{- with .Params.objects }}
  <li><a href="{{ "/objects/" | relLangURL }}{{ . | urlize }}" class="{{ . | urlize }}">{{ T (. | urlize) | default . }}</a></li>
  {{- end }}
  {{- with .Params.places }}
  {{ $placesType := (printf "%T" .) }}
  {{- if eq $placesType "string" }}
  <li><a href="{{ "/places/" | relLangURL }}{{ . | urlize }}">{{ T (. | urlize) | default . }}</a></li>
  {{- else }}
  {{ range . }}
  <li><a href="{{ "/places/" | relLangURL }}{{ . | urlize }}">{{ T (. | urlize) | default . }}</a></li>
  {{- end }}
  {{- end }}
  {{- end }}
  {{- range .Params.themes }}
  <li><a href="{{ "/themes/" | relLangURL }}{{ . | urlize }}">{{ T (. | urlize) | default . }}</a></li>
  {{- end }}
  {{- with .Params.years }}
  <li><a href="{{ "/years/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
  {{- end }}
</ul>
