{{ define "main" }}
  <main>
    <article class="content">
      <h1>Erreur 404</h1>
      <h2>Page non trouvée</h2>
      <p>L’URL demandée n’a pas pu être trouvée sur ce serveur.</p>
      <p><a href="{{ "/" | relURL }}">Retourner à la page d’accueil</a></p>
    </article>
  </main>
{{ end }}