{{ define "main" }}
  <main>
    {{ with resources.Get .Params.image }}
    <header class="image">
      <img
        src="{{ (.Resize "400x webp").RelPermalink }}"
        srcset="{{ (.Resize "400x  webp").RelPermalink }} 400w,
                {{ (.Resize "800x  webp").RelPermalink }} 800w,
                {{ (.Resize "1200x webp").RelPermalink }} 1200w,
                {{ (.Resize "1600x webp").RelPermalink }} 1600w,
                {{ (.Resize "2000x webp").RelPermalink }} 2000w,
                {{ (.Resize "2400x webp").RelPermalink }} 2400w"
        sizes="100vw"
        alt="" 
        width="{{ .Width }}" 
        height="{{ .Height }}" 
        fetchpriority="high"
      >
    </header>
    {{- end }}
    <article class="content">
      {{ .Content }}
    </article>
  </main>
{{ end }}
